@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'opens sans', sans-serif;
}

body {
    /*height: 100vh;*/
    background: linear-gradient(120deg, #000, #5becd4);
    background-image: url(relógio.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
   /* align-items: center;*/
    justify-content: center;
    text-align: center;
    
}

.relogio {
    margin: 185px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 650px;
    background: transparent;
    border-radius: 6px;
    box-shadow: 10px 8px 10px rgb(0, 0, 0);
    
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #000;
    box-shadow: 10px 10px 15px black;
    border-radius: 7px;
    letter-spacing: 10px;

}

.relogio span {
     font-size: 60px;
     font-weight: bolder;
}

.relogio span.tempo {
    font-size: 10px;
    color: red;
}

button {
    margin-top: 460px;
    height: 30px;
    width: 300px;
    border-radius: 15px;
    border-color: #000000;
    background: transparent;
    /*color: #000000;*/
   /* font-size: 25px;*/
    /*font-family: 'opens sans', sans-serif;*/
    cursor: pointer;
    position: fixed;
    
    

}

button:hover {
    background: #ff0000;
    color: #807474;
    transition: 0.5s ;
}

.clima a  {
    font-family: 'opens sans', sans-serif;
    color: #000000;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-decoration: none;
    
}

.titulo {
    font-size: 40px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    position: fixed;
    align-items: center;
    
}

.pontos {
    font-size: 50px;
}

.igual {
    font-size: 50px;
}

.rodape {
    font-size: 10px;
    color: #000;
    text-align: center;
    margin-top: 600px;
    
}

@media (max-width = 785) {
    .relogio {
        padding: 50px 45px;
        display: block;
        
    }

}

@media (max-width = 600) {
    .relogio {
        padding: 5px 0;
        margin: 75px;
        flex-direction: block;
       
        
    }

}




